<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title></title>
</head>

<body>

<div class="container">

    <h1>[TIFF][<%- process.env.NODE_ENV %>]</h1>

    <table>
        <tbody>
            <tr>
                <th>メールは日英併記になります。</th>
                <td><%- reservations[0].get('payment_no') %><td>
            </tr>

            <tr>
                <th>メールは日英併記になります。</th>
                <td><%- reservations[0].get('film_name_ja') %><td>
            </tr>

            <tr>
                <th>メールは日英併記になります。</th>
                <td>
                    <%- reservations[0].get('start_str') %>～ 
                    <%- reservations[0].get('theater_name_ja') %> 
                    <%- reservations[0].get('screen_name_ja') %>
                <td>
            </tr>

            <tr>
                <th>メールは日英併記になります。</th>
                <td>
                    <% reservations.forEach((reservation) => { %>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <%- reservation.get('seat_code') %>、
                                        <%- reservation.get('ticket_type_name_ja') %>、
                                        <%- reservation.get('ticket_type_charge') %> yen<br>
                                    </td>

                                    <td>
                                        <img src="cid:qrcode_<%- reservation.get('_id').toString() %>">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    <% }) %>
                <td>
            </tr>

        </tbody>
    </table>

</div>

</body>
</html>