<h1>購入完了</h1>

<%- include('./_step') %>

<div class="row">

        <dl class="dl-horizontal">
            <dt>予約管理番号</dt>
            <dd><%- reservationResultModel.paymentNo %></dd>

            <dt>作品名</dt>
            <dd><%- reservationResultModel.performance.film.name %></dd>

            <dt>上映時間/場所</dt>
            <dd><%- reservationResultModel.performance.day %> <%- reservationResultModel.performance.start_time %> ～ <%- reservationResultModel.performance.theater.name %> <%- reservationResultModel.performance.screen.name %></dd>

            <dt>座席番号</dt>

            <dd>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <% reservationResultModel.reservations.forEach((reservation, index) => { %>
                            <tr>
                                <td><a class="show-seat-position" href="javascript:void(0);" data-screen-id="<%- reservationResultModel.performance.screen._id %>" data-screen-id="<%- reservation.screen %>" data-seat-code="<%- reservation.seat_code %>"><%- reservation.seat_code %></a></td>
                                <td><a class="btn btn-default" href="javascript:void(0)">印刷(未実装)</a></td>
                                <td><a class="btn btn-default send-mail" href="javascript:void(0)" data-reservation-id="<%- reservation._id %>" data-url="/api/<%- req.getLocale() %>/reservation/email"><%- __('Button.SendMail') %></a></td>
                                <td>QR</td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </dd>

        </dl>


    <a class="btn btn-default btn-lg btn-block"  href="/">TOP</a>
</div>



<div class="modal fade transfering" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="id_email"><%- __('Form.FieldName.email') %></label>
                    <input type="text" name="email" id="id_email" class="form-control">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%- __('Button.Cancel') %></button>
                <button type="button" class="btn btn-primary execute-transfer"><%- __('Button.Transfer') %></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center sending"><%- __('Message.Sending') %></div>
                <div class="text-center sent"><%- __('Message.Sent') %></div>
                <div class="text-center unsent"><%- __('Message.Unsent') %></div>
            </div>
        </div>
    </div>
</div>


<script src="/js/reserve/complete.js"></script>
