<h1>予約内容確認</h1>

<%- include('./_step') %>

<div class="row">
    <h3>座席情報</h3>
    <a class="btn btn-default" href="<%- url('member.reserve.seats', {token: reservationModel.token}) %>">変更</a>

    <dl class="dl-horizontal">
        <dt>予約管理番号</dt>
        <dd><%- reservationModel.paymentNo %></dd>

        <dt>作品名</dt>
        <dd><%- reservationModel.performance.film.name %></dd>

        <dt>上映時間/場所</dt>
        <dd><%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～ <%- reservationModel.performance.theater.name %>　<%- reservationModel.performance.screen.name %></dd>

        <dt>座席/券種</dt>

        <dd>
            <% reservationModel.ticketChoices.forEach(function(choice){%>
            <a class="show-seat" href="javascript:void(0);" data-seat-code="<%- choice.seat_code %>"><%- choice.seat_code %></a> <%- choice.ticket.name %> <%- choice.ticket.price %>円、
            <% }) %><br>
            <strong>合計金額:<%- reservationModel.getTotalPrice() %>円</strong>
        </dd>

    </dl>


    <h3>予約者情報</h3>
    <a class="btn btn-default" href="<%- url('member.reserve.profile', {token: reservationModel.token}) %>">変更</a>

    <dl class="dl-horizontal">
        <dt>お名前</dt>
        <dd><%- reservationModel.profile.last_name %> <%- reservationModel.profile.first_name %></dd>

        <dt>メールアドレス</dt>
        <dd class="text-danger"><%- reservationModel.profile.email %></dd>

        <dt>電話番号</dt>
        <dd><%- reservationModel.profile.tel %></dd>
    </dl>


    <h3>決済方法</h3>
    <a class="btn btn-default" href="<%- url('member.reserve.pay', {token: reservationModel.token}) %>">変更</a>

    <dl class="dl-horizontal">
        <dt>決済方法</dt>
        <dd>クレジットカード(開発中につきこれで固定)</dd>

    </dl>


    <a class="btn btn-default btn-lg btn-block" href="<%- url('member.reserve.pay', {token: req.params.token}) %>">戻る</a>
    <a class="btn btn-primary btn-lg btn-block confirm-reservation" href="javascript:void(0);">購入を確定</a>
</div>

<form method="post">
</form>

<script>
$(function(){
    $('.confirm-reservation').on('click', function(){
        $('form').submit();
    });

});
</script>



<script>
$(function(){
    $('.show-seat').on('click', function(){
        showSeatMap(<%- JSON.stringify(reservationModel.screenSeatCodes) %>, [$(this).attr('data-seat-code')]);
    });
})
</script>