<h1>座席選択</h1>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<div class="row">
    <div class="table-responsive tickets">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>座席No</th>
                    <th>券種</th>
                </tr>
            </thead>

            <tbody>
                <% for (let reservationId of reservationModel.reservationIds) { %>
                <% let reservation = reservationModel.getReservation(reservationId) %>
                <tr data-seat-code="<%- reservation.seat_code %>" data-reservation-id="<%- reservationId %>">
                    <td><%- reservation.seat_code %></td>
                    <td>
                        <select class="form-control">
                        <% reservationModel.ticketTypes.forEach(function(ticketType, index) { %>
                        <option
                            <% if (reservation.hasOwnProperty('ticket_type_code')) { %>
                            <% if (reservation.ticket_type_code == ticketType.code) { %> selected="selected"<% } %>
                            <% } %>
                            value="<%- ticketType.code %>"
                            data-name="<%- ticketType.name %>"
                            data-name-en="<%- ticketType.name_en %>"
                            data-charge="<%- ticketType.charge %>">
                            <%- ticketType[__('DocumentField.name')] %> <%- __('{{price}} yen', {price: ticketType.charge}) %>
                            <%- (reservationModel.performance.is_mx4d) ? '[+200(MX4D)]' : '' %>
                            <%- (reservation.seat_grade_additional_charge > 0) ? `[+${reservation.seat_grade_additional_charge}(${reservation[`seat_grade_${__('DocumentField.name')}`]})]` : '' %>
                        </option>
                        <% }) %>
                        </select>
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
    </div>

    <a class="btn btn-primary btn-lg btn-block select-tickets" href="javascript:void(0);">次へ</a>
</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<script>
$(function(){
    $('.select-tickets').on('click', function(){
        // 座席コードリストを取得
        var choices = [];
        $('.tickets tbody tr').each(function(index){
            choices.push({
                reservation_id: $(this).attr('data-reservation-id'),
                ticket_type_code: $('option:selected', this).val(),
                ticket_type_name: $('option:selected', this).attr('data-name'),
                ticket_type_name_en: $('option:selected', this).attr('data-name-en'),
                ticket_type_charge: $('option:selected', this).attr('data-charge'),
            });
        });

        $('form input[name="choices"]').val(JSON.stringify(choices));
        $('form').submit();
    });

});
</script>
