<h1>座席選択</h1>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<div class="row">
    <div class="table-responsive tickets">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>座席No</th>
                    <th>券種</th>
                </tr>
            </thead>

            <tbody>
                <% for (let reservationId of reservationModel.reservationIds) { %>
                <% let reservation = reservationModel.getReservation(reservationId) %>
                <tr data-seat-code="<%- reservation.seat_code %>" data-reservation-id="<%- reservationId %>">
                    <td><%- reservation.seat_code %></td>
                    <td>
                        <select class="form-control">
                        <% reservationModel.ticketChoicesBySeatCode[reservation.seat_code].forEach(function(ticket, index) { %>
                        <option
                            <% if (reservation.hasOwnProperty('ticket_type')) { %>
                            <% if (reservation.ticket_type == ticket.type) { %> selected="selected"<% } %>
                            <% } %>
                            value="<%- ticket.type %>"
                            data-name="<%- ticket.name %>"
                            data-name-en="<%- ticket.name_en %>"
                            data-price="<%- ticket.price %>"><%- ticket.name %> <%- ticket.price %>円
                        </option>
                        <% }) %>
                        </select>
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
    </div>

    <a class="btn btn-primary btn-lg btn-block select-tickets" href="javascript:void(0);">次へ</a>
</div>


<script>
$(function(){
    $('.select-tickets').on('click', function(){
        // 座席コードリストを取得
        var choices = [];
        $('.tickets tbody tr').each(function(index){
            choices.push({
                reservation_id: $(this).attr('data-reservation-id'),
                ticket_type: $('option:selected', this).val(),
                ticket_name: $('option:selected', this).attr('data-name'),
                ticket_name_en: $('option:selected', this).attr('data-name-en'),
                ticket_price: $('option:selected', this).attr('data-price'),
            });
        });

        $('form input[name="choices"]').val(JSON.stringify(choices));
        $('form').submit();
    });

});
</script>

<form method="post">
<%- form.toHTML() %>
</form>

