<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.name;
}
%>
<header>
    <div class="container">

        <a href="/" class="header-logo"><img src="/images/common/logo.png" alt="TIFF"></a>

        <div class="header-menu">

            <% if (routeName.indexOf('mypage') >= 0 && sponsorUser.isAuthenticated()) { %>
            <div class="menu-staff">
                <p class="myname"><%= sponsorUser.get('name') %>様</p>
                <div class="staff-btns">
                    <a class="btn btn-logout" href="<%= url('sponsor.logout') %>"><span>Logout</span></a>
                    <a class="btn btn-newticket" href="<%= url('sponsor.reserve.start') %>"><span>New Ticket</span></a>
                </div>
            </div>

            <% } else if (routeName === 'sponsor.cancel') { %>
                <a href="<%= url('sponsor.reserve.start') %>">チケットを手配する</a>

            <% } else if (routeName.indexOf('mypage') < 0 && sponsorUser.isAuthenticated()) { %>
            <div class="menu-user">
                <p class="myname"><%= sponsorUser.get('name') %> 様</p>
                <a href="<%= url('sponsor.cancel') %>">キャンセル</a> / <a href="<%= url('sponsor.logout') %>">ログアウト</a>
            </div>

            <% } %>

        </div>
    </div>
</header>









