<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.name;
}

let currentLang = req.getLocale();
let pageId = (routeName) ? 'page_'+routeName.replace(/\./g,'_') : '';
let pageClassName = (routeName) ? 'page-'+routeName.replace(/\./g,' page-') : '';
pageClassName = pageClassName + ' page-'+currentLang;
%>
<!DOCTYPE html>
<html lang="<%- currentLang %>">
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">

<link href="/css/tiff2016.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="/js/common.js"></script>
<script src="/js/screen.js"></script>

</head>

<body id="<%- pageId %>" class="<%- pageClassName %>">
<input type="hidden" name="locale" value="<%- req.getLocale() %>">

<%- include('./_header') %>

<div class="container">
    <%- body %>
</div>

<%- include('./_footer') %>
<%- include('../_showSeatMap') %>

</body>
</html>