<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.name;
}
%>
<header>
    <div class="container">

        <a href="/" class="header-logo"><img src="/images/common/logo.png" alt="TIFF"></a>

        <div class="header-menu">
            <% if (routeName.indexOf('mypage') >= 0 && staffUser.isAuthenticated()) { %>
            <div class="menu-staff">
                <p class="myname"><%= __('Mr{{name}}', {name: staffUser.get('name')}) %></p>
                <div class="staff-btns">
                    <a class="btn btn-logout" href="<%- url('staff.logout') %>"><span><%- __('Button.Logout') %></span></a>
                    <a class="btn btn-newticket" href="<%- url('staff.reserve.start') %>"><span><%- __('Button.NewTicket') %></span></a>
                    <% if (staffUser.get('is_admin')) { %>
                    <a class="btn btn-release" href="release"><span>座席解放</span></a>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</header>
