<h1 class="pagetitle">テストインデックスページ(実際はこのページは存在しません)</h1>

<ul>
    <li><a href="<%- url('customer.reserve.performances') %>">一般購入(TIFFポータルを想定したページへ遷移します)</a></li>
    <li><a href="<%- url('member.reserve.terms') %>">メルマガ会員当選者←これが配るURL</a></li>
    <li><a href="<%- url('sponsor.mypage') %>">外部関係者マイページ←これが配るURL</a></li>
    <li><a href="<%- url('sponsor.reserve.start') %>">外部関係者チケット予約←これが配るURL</a></li>
    <li><a href="<%- url('sponsor.cancel') %>">外部関係者予約キャンセル←これが配るURL</a></li>
    <li><a href="<%- url('staff.mypage') %>">内部関係者←これが配るURL</a></li>
    <li><a href="<%- url('tel.mypage') %>">電話窓口←これが配るURL</a></li>
    <li><a href="<%- url('window.mypage') %>">当日窓口←これが配るURL</a></li>
    <li><a href="<%- url('admission.performances') %>">入場画面←これが配るURL</a></li>
</ul>
