<h1>HOME</h1>

<h2><%- __('Welcome to') %></h2>

<ul>
    <li><a href="<%- url('customer.reserve.performances') %>"><%- __('General Customers') %></a></li>
    <li><a href="<%- url('member.reserve.terms') %>"><%- __('Email Magazine Readers') %></a></li>
    <li><a href="<%- url('sponsor.mypage') %>"><%- __('Sponsors') %></a></li>
    <li><a href="<%- url('staff.mypage') %>"><%- __('Staffs') %></a></li>
    <li><a class="disabled" href="#"><%- __('Telephone Support') %></a></li>
    <li><a class="disabled" href="#"><%- __('On that day') %></a></li>
</ul>