<h1 class="pagetitle">HOME</h1>

<ul>
    <li><a href="<%- url('customer.reserve.performances') %>"><%- __('General Customers') %></a></li>
    <li><a href="<%- url('member.reserve.terms') %>"><%- __('Email Magazine Readers') %></a></li>
    <li><a href="<%- url('sponsor.mypage') %>">外部関係者マイページ</a></li>
    <li><a href="<%- url('sponsor.reserve.start') %>">外部関係者チケット予約</a></li>
    <li><a href="<%- url('staff.mypage') %>"><%- __('Staffs') %></a></li>
    <li><a class="disabled" href="#"><%- __('Telephone Support') %></a></li>
    <li><a class="disabled" href="#"><%- __('On that day') %></a></li>
</ul>
