<h1 class="pagetitle">テストインデックスページ(実際はこのページは存在しません)</h1>

<ul>
    <li><a href="<%- url('customer.reserve.performances') %>">一般購入</a></li>
    <li><a href="<%- url('member.reserve.terms') %>">メルマガ会員当選者</a></li>
    <li><a href="<%- url('sponsor.mypage') %>">外部関係者マイページ</a></li>
    <li><a href="<%- url('sponsor.reserve.start') %>">外部関係者チケット予約</a></li>
    <li><a href="<%- url('sponsor.cancel') %>">外部関係者予約キャンセル</a></li>
    <li><a href="<%- url('staff.mypage') %>">内部関係者</a></li>
    <li><a class="disabled" href="#">電話対応</a></li>
    <li><a href="<%- url('window.mypage') %>">当日窓口</a></li>
</ul>
