<div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt><%- __('Label.FilmName') %></dt>
            <dd>
                <%- reservationModel.performance.film[__('DocumentField.name')] %>
            </dd>

            <dt><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></dt>
            <dd>
                <%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～ 
                <%- reservationModel.performance.theater[__('DocumentField.name')] %> 
                <%- reservationModel.performance.screen[__('DocumentField.name')] %>
            </dd>

            <dt><%- __('Label.SeatCode') %>/<%- __('Label.TicketType') %></dt>
            <dd>
                <% if (reservationModel.reservationIds.length > 0) { %>

                    <div class="row">
                    <% reservationModel.reservationIds.forEach((reservationId, index) => { %>
                        <% let reservation = reservationModel.getReservation(reservationId) %>
                        <% if (index > 0 && index % 4 === 0) { %>
                        </div>
                        <div class="row">
                        <% } %>

                        <div class="col-xs-3">
                            <a class="show-seat-position" href="javascript:void(0);" data-screen-id="<%- reservationModel.performance.screen._id %>" data-seat-code="<%- reservation.seat_code %>"><%- reservation.seat_code %></a><br>
                            <%- reservation[`ticket_${__('DocumentField.name')}`] %><br>
                            <%- __('{{price}} yen', {price: reservation.ticket_price}) %><br>
                        </div>
                    <% }) %>
                    </div>

                <% } %>

            </dd>

            <dt><%- __('Label.TotalPrice') %></dt>
            <dd>
                <%- __('{{price}} yen', {price: reservationModel.getTotalPrice()}) %>
            </dd>
        </dl>
    </div>
</div>
