<div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>作品名</dt>
            <dd><%- reservationModel.performance.film.name %></dd>

            <dt>上映時間/場所</dt>
            <dd><%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～ <%- reservationModel.performance.screen.name %></dd>

            <dt>座席/券種</dt>
            <dd>
                <% if (reservationModel.ticketChoices.length > 0) { %>
                    <% for (let ticketChoice of reservationModel.ticketChoices) { %>
                    <a class="show-seat" href="javascript:void(0);" data-seat-code="<%- ticketChoice.seat_code %>"><%- ticketChoice.seat_code %></a><br>
                    <%- ticketChoice.ticket.name %><br>
                    <%- ticketChoice.ticket.price %><br>
                    <% } %>

                <% } else if (reservationModel.seatCodes.length > 0) { %>
                    <% for (let seatCode of reservationModel.seatCodes) { %>
                    <a class="show-seat" href="javascript:void(0);" data-seat-code="<%- seatCode %>"><%- seatCode %></a><br>
                    <% } %>

                <% } %>
            </dd>
        </dl>
    </div>
</div>


<!-- Modal -->
<div class="modal fade selected-seat-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      -->
    </div>
  </div>
</div>


<script>
$(function(){
    $('.show-seat').on('click', function(){
        var html = createSeatMap(<%- JSON.stringify(reservationModel.screenSeatCodes) %>, [$(this).attr('data-seat-code')]);

        $('.selected-seat-map .modal-body').html(html);
        $('.selected-seat-map').modal();
    });
})

function createSeatMap(seatCodes, selecteSeatCodes) {
    var html = `

    <div class="table-responsive">
        <table class="table table-bordered">

            <tbody>
                <tr>
`;

    seatCodes.forEach(function(seatCode, index) {
        if (index % 12 === 0) {
            html += `
                </tr>
                <tr>
`;
        }


            if (selecteSeatCodes.indexOf(seatCode) >= 0) {

                html += `
                    <th scope="row" class="bg-primary">
                        ${seatCode}
                    </th>
`;

            } else {
                html += `
                    <th scope="row" class="select-seat">
                        ${seatCode}
                    </th>
`;
            }
    });

    html += `
                </tr>
            </tbody>

        </table>
    </div>
`;

    return html;
}
</script>