<h1><%- __('h1.ConfirmReservation') %></h1>

<%- include('./_step') %>

<div class="row">
    <h3><%- __('h3.SeatChoices') %></h3>
    <a class="btn btn-default" href="<%- url('customer.reserve.seats', {token: reservationModel.token}) %>"><%- __('Button.Change') %></a>

    <dl class="dl-horizontal">
        <dt><%- __('Label.FilmName') %></dt>
        <dd>
            <%- reservationModel.performance.film[__('DocumentField.name')] %>
        </dd>

        <dt><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></dt>
        <dd>
            <%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～ 
            <%- reservationModel.performance.theater[__('DocumentField.name')] %> 
            <%- reservationModel.performance.screen[__('DocumentField.name')] %>
        </dd>

        <dt><%- __('Label.SeatCode') %>/<%- __('Label.TicketType') %></dt>

        <dd>
            <% reservationModel.reservationIds.forEach((reservationId, index) => { %>
            <% let reservation = reservationModel.getReservation(reservationId) %>
            <a class="show-seat-position" href="javascript:void(0);" data-screen-id="<%- reservationModel.performance.screen._id %>" data-seat-code="<%- reservation.seat_code %>">
                <%- reservation.seat_code %>
            </a>
            <%- reservation[`ticket_type_${__('DocumentField.name')}`] %> <%- __('{{price}} yen', {price: reservation.ticket_type_charge}) %>
            <%- (reservationModel.performance.is_mx4d) ? '[+200(MX4D)]' : '' %>
            <%- (reservation.seat_grade_additional_charge > 0) ? `[+${reservation.seat_grade_additional_charge}(${reservation[`seat_grade_${__('DocumentField.name')}`]})]` : '' %>
            <br>
            <% }) %><br>
            <strong><%- __('Label.TotalPrice') %>:<%- __('{{price}} yen', {price: reservationModel.getTotalPrice()}) %></strong>
        </dd>

    </dl>


    <h3><%- __('h3.Profile') %></h3>
    <a class="btn btn-default" href="<%- url('customer.reserve.profile', {token: reservationModel.token}) %>"><%- __('Button.Change') %></a>

    <dl class="dl-horizontal">
        <dt><%- __('Label.FullName') %></dt>
        <dd><%- reservationModel.profile.last_name %> <%- reservationModel.profile.first_name %></dd>

        <dt><%- __('Label.Email') %></dt>
        <dd class="text-danger"><%- reservationModel.profile.email %></dd>

        <dt><%- __('Label.Tel') %></dt>
        <dd><%- reservationModel.profile.tel %></dd>
    </dl>


    <a class="btn btn-default btn-lg btn-block" href="<%- url('customer.reserve.profile', {token: req.params.token}) %>"><%- __('Button.Back') %></a>
    <a class="btn btn-primary btn-lg btn-block confirm-reservation" href="javascript:void(0);"><%- __('Button.Confirm') %></a>
</div>

<script>
$(function(){
    $('.confirm-reservation').on('click', function(){
        var form = $('<form/>', {'method': 'post'}); // location.hrefにpostする
        form.appendTo(document.body);
        form.submit();
    });

});
</script>
