<script src="/js/reserve/seats.js"></script>
<input type="hidden" name="seatsLimit" value="<%- limit %>">
<input type="hidden" name="seatsLimitMessage" value="<%- __('Message.seatsLimit{{limit}}', {limit: limit.toString()}) %>">

<h1><%- __('h1.SelectSeats') %></h1>

<% if (req.query.message) { %>
<div class="alert alert-danger" role="alert">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%- req.query.message %>
</div>
<% } %>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<div class="row">
    <div class="seatStatusesMap hidden" data-token="<%- reservationModel.token %>">
        <%- reservationModel.screenHtml %>
        <input type="hidden" name="messageRequiredSeat" value="<%- __('Message.PleaseSelectSeat') %>">
    </div>

    <a class="btn btn-default btn-lg btn-block" href="<%- url('customer.reserve.performances') %>"><%- __('Button.Back') %></a>
    <!-- TODO ↑警告する 座席の仮押さえ状態が解除されますが、よろしいですか？ -->
    <a class="btn btn-primary btn-lg btn-block select-seats" href="javascript:void(0);"><%- __('Button.SelectTickets') %></a>
</div>
