<h1>座席選択</h1>

<% if (req.query.message) { %>
<div class="alert alert-danger" role="alert">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%- req.query.message %>
</div>
<% } %>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<div class="row">
    <div class="row">
        <dl>
            <dt><dt>
            <dd>空席</dd>
            <dt><dt>
            <dd class="bg-primary">選択した席</dd>
            <dt><dt>
            <dd class="bg-danger">購入済みの席</dd>
        </dl>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">

            <tbody>
                <tr>
                <% reservationModel.performance.screen.sections[0].seats.forEach((seat, index) => { %>
                    <% let seatCode = seat.code %>
                    <% if (index % 12 === 0) { %>
                    </tr>
                    <tr>
                    <% } %>

                    <%
                    // パフォーマンスが券種リストを持ち、かつ、予約が存在した場合のみ販売可能
                    if (reservationModel.ticketChoicesBySeatCode.hasOwnProperty(seatCode)
                        && reservationDocumentsBySeatCode.hasOwnProperty(seatCode)) {
                    %>
                        <!-- 販売中 -->

                        <% let reservationDocument = reservationDocumentsBySeatCode[seatCode] %>
                        <% if (reservationDocument.get('status') === 'AVAILABLE') { %>
                            <!-- 予約可能 -->
                            <th scope="row" class="select-seat" data-seat-code="<%- seatCode %>" data-reservation-id="<%- reservationDocument.get('_id') %>">
                                <%- seatCode %>
                            </th>

                        <% } else { %>
                            <% if (reservationModel.getSeatCodes().indexOf(seatCode) >= 0) { %>
                                <!-- 仮押さえ中 -->
                                <th scope="row" class="select-seat bg-primary" data-seat-code="<%- seatCode %>" data-reservation-id="<%- reservationDocument.get('_id') %>">
                                    <%- seatCode %>
                                </th>
                            <% } else { %>
                                <!-- 予約不可 -->
                                <th scope="row" class="bg-danger" data-reservation-id="<%- reservationDocument.get('_id') %>">
                                    <%- seatCode %>
                                </th>
                            <% } %>

                        <% } %>

                    <% } else { %>
                        <!-- 未販売 -->
                        <th scope="row" class="bg-warning text-muted">
                            <%- seatCode %>
                        </th>

                    <% } %>

                <% }) %>
                </tr>
            </tbody>

        </table>
    </div>

    <a class="btn btn-default btn-lg btn-block" href="<%- url('customer.reserve.performances', {token: req.params.token}) %>">戻る</a>
    <a class="btn btn-primary btn-lg btn-block select-seats" href="javascript:void(0);">券種選択</a>
</div>


<script>
$(function(){
    $('.select-seat').on('click', function(){
        $(this).toggleClass('bg-primary');
    });

    $('.select-seats').on('click', function(){
        var reservationIds = [];

        // 座席コードリストを取得
        $('.select-seat.bg-primary').each(function(index){
            reservationIds.push($(this).attr('data-reservation-id'));
        });

        if (reservationIds.length < 1) {
            alert('座席を選択してください');
        } else {
            $('form input[name="reservationIds"]').val(JSON.stringify(reservationIds));
            $('form').submit();
        }
    });
});
</script>

<form method="post">
<%- form.toHTML() %>
</form>

