<h1>仮予約完了</h1>

<%- include('./_step') %>

<div class="row">

        <dl class="dl-horizontal">
            <dt>作品名</dt>
            <dd><%- reservationModel.performance.film.name %></dd>

            <dt>上映時間/場所</dt>
            <dd><%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～ <%- reservationModel.performance.theater.name %> <%- reservationModel.performance.screen.name %></dd>

            <dt>座席番号</dt>

            <dd>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <% reservationModel.reservationIds.forEach((reservationId, index) => { %>
                            <% let reservation = reservationModel.getReservation(reservationId) %>
                            <tr>
                                <td><a class="show-seat" href="javascript:void(0);" data-seat-code="<%- reservation.seat_code %>"><%- reservation.seat_code %></a></td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </dd>

        </dl>


    <a class="btn btn-default btn-lg btn-block"  href="/">TOP</a>
</div>


<script>
$(function(){
    $('.show-seat').on('click', function(){
        showSeatMap(<%- JSON.stringify(reservationModel.screenSeatCodes) %>, [$(this).attr('data-seat-code')]);
    });
})
</script>
