<h1><%- __('h1.CompleteTemporaryReservation') %></h1>

<%- include('./_step') %>

<div class="row">

        <dl class="dl-horizontal">
            <dt><%- __('Label.FilmName') %></dt>
            <dd><%- reservationModel.performance.film.name %></dd>

            <dt><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></dt>
            <dd><%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～ <%- reservationModel.performance.theater.name %> <%- reservationModel.performance.screen.name %></dd>

            <dt><%- __('Label.SeatCode') %></dt>

            <dd>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <% reservationModel.reservationIds.forEach((reservationId, index) => { %>
                            <% let reservation = reservationModel.getReservation(reservationId) %>
                            <tr>
                                <td><a class="show-seat-position" href="javascript:void(0);" data-screen-id="<%- reservationModel.performance.screen._id %>" data-seat-code="<%- reservation.seat_code %>"><%- reservation.seat_code %></a></td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </dd>

        </dl>


    <a class="btn btn-default btn-lg btn-block"  href="/">TOP</a>
</div>
