<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />

</head>

<body>

<div class="container">

    <h1>[TIFF][<%- process.env.NODE_ENV %>] <%- __('h1.CompleteReservation') %></h1>

    <table>
        <tbody>
            <tr>
                <th><%- __('Label.FilmName') %></th>
                <td><%- reservationDocuments[0][`film_${__('DocumentField.name')}`] %><td>
            </tr>

            <tr>
                <th><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></th>
                <td>
                    <%- reservationDocuments[0].performance_day %> <%- reservationDocuments[0].performance_start_time %> ～ 
                    <%- reservationDocuments[0][`theater_${__('DocumentField.name')}`] %> 
                    <%- reservationDocuments[0][`screen${__('DocumentField.name')}`] %>
                <td>
            </tr>

            <tr>
                <th><%- __('Label.SeatCode') %>/<%- __('Label.TicketType') %></th>
                <td>
                    <% reservationDocuments.forEach((reservationDocument, index) => { %>
                        <%- reservationDocument.seat_code %>、
                        <%- reservationDocument[`ticket_type_${__('DocumentField.name')}`] %>、
                        <%- __('{{price}} yen', {price: reservationDocument.ticket_type_charge}) %><br>
                    <% }) %>
                <td>
            </tr>

            <tr>
                <th>Barcode</th>
                <td>
                    <img src="cid:barcode">
                <td>
            </tr>

            <tr>
                <th>QRCode</th>
                <td>
                    <img src="cid:qrcode">
                <td>
            </tr>

        </tbody>
    </table>

</div>

</body>

</html>