<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />

</head>

<body>

<div class="container">

    <h1>[TIFF][<%- process.env.NODE_ENV %>] <%- __('h1.CompleteReservation') %></h1>

    <table>
        <tbody>
            <tr>
                <th><%- __('Label.FilmName') %></th>
                <td>
                    <%- reservationDocuments[0].get('film_name_ja') %><br>
                    <%- reservationDocuments[0].get('film_name_en') %>
                <td>
            </tr>

            <tr>
                <th><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></th>
                <td>
                    <%- reservationDocuments[0].get('start_str') %>～ 
                    <%- reservationDocuments[0].get('theater_name_ja') %> 
                    <%- reservationDocuments[0].get('theater_name_en') %> 
                    <%- reservationDocuments[0].get('screen_name_ja') %> 
                    <%- reservationDocuments[0].get('screen_name_en') %> 
                <td>
            </tr>

            <tr>
                <th><%- __('Label.SeatCode') %>/<%- __('Label.TicketType') %></th>
                <td>
                    <% reservationDocuments.forEach((reservationDocument, index) => { %>
                        <%- reservationDocument.seat_code %>、
                        <%- reservationDocument.get('ticket_type_name_ja') %>、
                        <%- reservationDocument.get('ticket_type_name_en') %>、
                        <%- __('{{price}} yen', {price: reservationDocument.ticket_type_charge}) %><br>
                    <% }) %>
                <td>
            </tr>

            <tr>
                <th>Barcode</th>
                <td>
                    <img src="cid:barcode">
                <td>
            </tr>

            <tr>
                <th>QRCode</th>
                <td>
                    <img src="cid:qrcode">
                <td>
            </tr>

        </tbody>
    </table>

</div>

</body>

</html>