<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%- reservations[0].get('purchaser_name') %>様より東京国際映画祭のチケットが届いております</title>
<!--
    gmailはstyle要素とlink要素を無効にするので全タグにstyle属性を付けるしかない
    https://www.campaignmonitor.com/css/    
-->
</head>
<body>




<div style="background-color:#fff;height:80px;text-align:center;">
    <img src="cid:logo" alt="東京国際映画祭" >
</div>


<div style="padding:0 30px;font-family:'游ゴシック',meiryo,sans-serif;">
    <h1 style="margin:0;font-size:20px;text-align:center;"><%- reservations[0].get('purchaser_name') %>様より東京国際映画祭のチケットが届いております</h1>
    <h2 style="margin:0;font-size:16px;text-align:center;">Ticket have been received of the Tokyo International Film Festival</h2>

    <p style="font-weight:bold;"><%= to %> 様</p>

    <p style="font-size:14px;">
        この度はご購入いただき誠にありがとうございます。<br>
        ご入場の際に添付のQRコードが必要となりますので、ご鑑賞当日は必ずお持ちください。<br>
        QRコードは画像保存もしくは印刷していただくと便利です。<br>
        尚、お取り扱いには十分ご注意ください。<br>
        ＊本メールはご鑑賞後まで、大切に保管してください。
    </p>
    <p style="font-size:12px;">
        Please find the attached ticket for Tokyo International Film Festival from Mr./Ms. YYYY and confirm the following details.<br>
        Be sure to bring the QR code attached to the email with you when attending because it is required for admission. <br>
        It is recommended to save the QR code as image data or print it for your convenience. Handle carefully.<br>
        *Please retain this email until after you have seen the movie.
    </p>


    <hr style="margin:1em 0;">


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">作品名 (Title) :</h3>
        <strong><%- reservations[0].get('film_name_ja') %></strong><br>
        <span style="font-size:12px;"><%- reservations[0].get('film_name_en') %></span>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">購入番号 (Transaction number) :</h3>
        <strong><%- reservations[0].get('payment_no') %></strong>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">劇場 (Location) :</h3>
        <strong><%- reservations[0].get('location_str_ja') %></strong><br>
        <%- reservations[0].get('theater_address_ja') %><br>
        <p style="font-size:12px;">
            <%- reservations[0].get('location_str_en') %><br>
            <%- reservations[0].get('theater_address_en') %>
        </p>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">時間 (Date and time) :</h3>
        <%
        let day = moment(`${reservations[0].get('performance_day').substr(0, 4)}-${reservations[0].get('performance_day').substr(4, 2)}-${reservations[0].get('performance_day').substr(6)}T00:00:00+09:00`);
        %>
        <strong><%- day.format('YYYY/MM/DD (ddd)') %></strong>　
        開場 Open: <strong><%- reservations[0].get('performance_open_time').substr(0, 2) %>:<%- reservations[0].get('performance_open_time').substr(2) %></strong>　
        開演 Start: <strong><%- reservations[0].get('performance_start_time').substr(0, 2) %>:<%- reservations[0].get('performance_start_time').substr(2) %>-</strong>
    </div>


    <div style="margin-bottom:1em;page-break-inside:avoid;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">QRコード (QR-code) :</h3>

        <% reservations.forEach((reservation, index) => { %>
        <p>
            <strong><%- reservation.seat_code %></strong><br>
            <img src="cid:qrcode_<%- reservation.get('_id').toString() %>" alt="<%- reservation.seat_code %>">
        </p>
        <% }) %>

    </div>


    <p style="font-size:12px;">
        ※学生（小学生は除く）の方は、劇場へのご入場の際に、必ず学生証または生徒手帳のご提示をお願いします。<br>
        ※交通渋滞による来場遅延、その他いかなる場合でも、ご購入後のチケットの変更およびキャンセル・払い戻しはいたしません。なお不可抗力により表記公演の興行を中止する場合の払い戻しは、所定の期間内に所定の方法にて行います。<br>
        *Students (excluding elementary school students) are asked to show their student ID card or student handbook before entering the cinema.<br>
        *Once tickets are purchased, they cannot be changed, canceled or refunded under any circumstance, including delayed arrival due to traffic congestion. If the event is canceled due to any unforeseen causes, tickets will be refunded by the prescribed methods during the prescribed period of time.
    </p>


    <hr>


    <strong style="font-size:14px;">東京国際映画祭  TOKYO INTERNATIONAL FILM FESTIVAL 2016</strong>
    <p style="font-size:14px;">
        本メールアドレスは送信専用です。返信はできませんのであらかじめご了承ください。<br>
        本メールに心当たりのない方やチケットに関してご不明な点は、下記電話番号までお問い合わせください。<br>
        チケットのお問合せ：050-3786-0368　/12:00～18:00（休業：土/日/祝日　東京国際映画祭開催期間中は無休）<br>
        オフィシャルサイト： <a href="http://2016.tiff-jp.net/" target="_blank" style="color:#000;">http://2016.tiff-jp.net/</a>
    </p>
    <p style="font-size:10px;">
        This e-mail address is a post-only. Please note that you can not reply.<br>
        If you have any questions with respect to one and the ticket to this email no idea, please contact us at the following telephone number.<br>
        Inquiries about ticket : +81 050-3786-0368 12:00-18:00(Closed: sat / sun / holiday Tokyo International Film Festival held period is seven days a week)<br>
        Official site : <a href="http://2016.tiff-jp.net/" target="_blank" style="color:#000;">http://2016.tiff-jp.net/</a>
    </p>
</div>




</body>
</html>