<%
let resevation = reservationsById[Object.keys(reservationsById)[0]];
%>

<h1 class="pagetitle"><%- __('h1.AdmissionConfirm') %></h1>

<div class="performancedata row">
    <h2><%- resevation[`film_${__('DocumentField.name')}`] %></h2>
    <span class="when"><%- resevation.performance_day %> <%- resevation.performance_start_time %> ～ </span>
    <span class="where"><%- resevation[`theater_${__('DocumentField.name')}`] %>  <%- resevation[`screen_${__('DocumentField.name')}`] %></span>
</div>

<p class="text-primary text-center process row"><%- __('Message.PleaseReadBarcode') %></p>

<div class="result">

</div>

<div class="results">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script src="/js/admission/confirm.js"></script>

<input type="hidden" name="reservationsById" value="<%= JSON.stringify(reservationsById) %>">
<input type="hidden" name="messageSearching" value="<%- __('Message.Searching') %>">
<input type="hidden" name="messagePleaseReadBarcode" value="<%- __('Message.PleaseReadBarcode') %>">
