<script src="/js/reserve/performances.js"></script>

<h1 class="pagetitle"><%- __('h1.SelectPerformance') %></h1>

<div class="admissionsearchform">
    <form>

        <div class="form-group">
            <select class="form-control" name="day">
                <option value=""><%- __('Label.AllDay') %></option>
                <% let day = moment().format('YYYYMMDD'); %>
                <option value="20161022"<% if (day === '20161022') { %> selected="selected"<% } %>>10/22</option>
                <option value="20161023"<% if (day === '20161023') { %> selected="selected"<% } %>>10/23</option>
                <option value="20161024"<% if (day === '20161024') { %> selected="selected"<% } %>>10/24</option>
                <option value="20161025"<% if (day === '20161025') { %> selected="selected"<% } %>>10/25</option>
                <option value="20161026"<% if (day === '20161026') { %> selected="selected"<% } %>>10/26</option>
                <option value="20161027"<% if (day === '20161027') { %> selected="selected"<% } %>>10/27</option>
                <option value="20161028"<% if (day === '20161028') { %> selected="selected"<% } %>>10/28</option>
                <option value="20161029"<% if (day === '20161029') { %> selected="selected"<% } %>>10/29</option>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="sections">
                <option value="">上映劇場</option>
                <option value="01">TOHOシネマズ六本木</option>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="genre">
                <option value="">上映スクリーン</option>
                <option value="01">SCREEN7</option>
            </select>
        </div>

        <div class="form-group form-seachqueryinput">
            <input type="text" class="form-control" name="words">
        </div>
        
        <div class="wrapper-btn">
            <a class="btn btn-search search" href="javascript:void(0)"><span><%- __('Button.Search') %></span></a>
        </div>
    </form>
</div>

<p class="searchresult">
    <%- __('Label.ResultsCount') %> <span class="total-count"></span> films
</p>

<div class="row performances">
</div>

<form method="post">
    <input type="hidden" name="performanceId">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>
