<script src="/js/customer/cancel.js"></script>

<div class="cancelform">
    <h2>チケットキャンセル受付ページ<br>Online Ticket Cancel</h2>
    <h3>購入完了時に発行される購入番号と、購入時にご入力頂いた電話番号で<br>ご予約頂いた座席のキャンセルと返金リクエストを行うことができます。</h3>

    <p class="errmsg"></p>

    <form>
        <div class="form-group form-inline">
            <labeL>購入番号<br>Transaction number</labeL>
            <input type="text" class="form-control" name="paymentNo" value="<%= paymentNo %>">
        </div>
        <div class="form-group form-inline">
            <label>電話番号下4桁<br>Last 4 digits of tel</label>
            <input type="text" class="form-control" name="last4DigitsOfTel" value="<%= last4DigitsOfTel %>">
        </div>
        <p class="btn btn-big btn-confirmcancel confirm-cancel" data-url="<%- url('customer.cancel') %>"><span>照会<br>Confirm</span></p>
    </form>
</div>


<div class="modal modal-cancel fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2><%- __('Label.ConfirmCancel') %></h2>
                <table class="table table-reservation-confirm">
                </table>

                <form class="accountForm">
                    <div class="form-group form-inline">
                        <label>金融機関名</label>
                        <input type="text" class="form-control" name="" value="">
                    </div>
                    <div class="form-group form-inline">
                        <label>支店名</label>
                        <select class="form-control" name="">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <label>口座種別</label>
                        <input type="text" class="form-control" name="" value="">
                    </div>
                    <div class="form-group form-inline">
                        <label>口座番号</label>
                        <input type="text" class="form-control" name="" value="">
                    </div>
                    <div class="form-group form-inline">
                        <label>名義</label>
                        <input type="text" class="form-control" name="" value="">
                    </div>
                </form>

                <div class="btns2clm">
                    <p class="btn btn-lg btn-next btn-exec execute-cancel" data-url="<%- url('customer.cancel.executeByPaymentNo') %>"><span><span><%- __('Button.Cancel') %></span></p>
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span><%- __('Button.Back') %></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-cancel fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <%- __('Message.CompleteCancel') %>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><span><%- __('Button.Close') %></span></p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-mail fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <%- __('Message.Sending') %>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><%- __('Button.Close') %></span></p>
            </div>
        </div>
    </div>
</div>