<%- include('./_step') %>

<h1 class="pagetitle"><%- __('h1.EnterProfile') %></h1>

<% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_WINDOW) { %>
<p class="guidetext">お支払い方法を選択して次へボタンを押してください。</p>
<% } else { %>
<p class="guidetext">必要情報を入力して次へボタンを押してください。</p>
<% } %>

<div class="wrapper-2clm">

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>

    <div class="clm-left" data-token="">

        <form method="post">

            <table class="table table-profile">

                <tbody>

                    <% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_WINDOW) { %>
                        <input type="hidden" name="lastName" value="<%- lastName %>">
                        <input type="hidden" name="firstName" value="<%- firstName %>">
                        <input type="hidden" name="tel" value="<%- tel %>">
                        <input type="hidden" name="email" value="<%- email %>">
                        <input type="hidden" name="emailConfirm" value="<%- emailConfirm %>">
                        <input type="hidden" name="emailConfirmDomain" value="<%- emailConfirmDomain %>">
                        <input type="hidden" name="age" value="<%- age %>">
                        <input type="hidden" name="address" value="<%- address %>">
                        <input type="hidden" name="gender" value="<%- gender %>">

                    <% } else if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_TEL) { %>
                        <input type="hidden" name="email" value="<%- email %>">
                        <input type="hidden" name="emailConfirm" value="<%- emailConfirm %>">
                        <input type="hidden" name="emailConfirmDomain" value="<%- emailConfirmDomain %>">
                        <input type="hidden" name="age" value="<%- age %>">
                        <input type="hidden" name="address" value="<%- address %>">
                        <input type="hidden" name="gender" value="<%- gender %>">

                        <tr>
                            <th>お名前 (カタカナ)<span class="required">必須項目</span></th>
                            <td>
                                <div class="wrapper-names">
                                    <div class="wrapper-nameinput">
                                        <label for="id_lastName"><%- __('Form.FieldName.lastName') %></label>
                                        <input type="text" name="lastName" id="id_lastName" class="form-control" value="<%- lastName %>">
                                    </div>
                                    <div class="wrapper-nameinput">
                                        <label for="id_firstName"><%- __('Form.FieldName.firstName') %></label>
                                        <input type="text" name="firstName" id="id_firstName" class="form-control" value="<%- firstName %>">
                                    </div>
                                </div>
                                <p class="notice">※全角カタカナでご入力ください</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('lastName')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('firstName')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="id_tel"><%- __('Form.FieldName.tel') %></label><span class="required">必須項目</span></th>
                            <td>
                                <input type="text" name="tel" id="id_tel" class="form-control" value="<%- tel %>">
                                <p class="notice">※半角数字、ハイフン「-」なしで入力して下さい</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('tel')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                    <% } else { %>
                        <tr>
                            <th>お名前 (カタカナ)<span class="required">必須項目</span></th>
                            <td>
                                <div class="wrapper-names">
                                    <div class="wrapper-nameinput">
                                        <label for="id_lastName"><%- __('Form.FieldName.lastName') %></label>
                                        <input type="text" name="lastName" id="id_lastName" class="form-control" value="<%- lastName %>">
                                    </div>
                                    <div class="wrapper-nameinput">
                                        <label for="id_firstName"><%- __('Form.FieldName.firstName') %></label>
                                        <input type="text" name="firstName" id="id_firstName" class="form-control" value="<%- firstName %>">
                                    </div>
                                </div>
                                <p class="notice">※全角カタカナでご入力ください</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('lastName')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('firstName')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><%- __('Form.FieldName.email') %><span class="required">必須項目</span></th>
                            <td>
                                <input type="text" name="email" id="id_email" class="form-control" value="<%- email %>">
                                <p class="notice">※確認の為に、もう一度入力してください</p>
                                <div class="wrapper-emailconfirm">
                                    <input type="text" name="emailConfirm" id="id_emailConfirm" class="form-control" value="<%- emailConfirm %>">
                                    <span>@</span>
                                    <input type="text" name="emailConfirmDomain" id="id_emailConfirmDomain" class="form-control" value="<%- emailConfirmDomain %>">
                                </div>
                                <p class="notice">※携帯メールでドメイン指定受信を利用している方解除の設定をお願いします</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('email')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('emailConfirm')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('emailConfirmDomain')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="id_tel"><%- __('Form.FieldName.tel') %></label><span class="required">必須項目</span></th>
                            <td>
                                <input type="text" name="tel" id="id_tel" class="form-control" value="<%- tel %>">
                                <p class="notice">※半角数字、ハイフン「-」なしで入力して下さい</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('tel')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="id_age"><%- __('Form.FieldName.age') %></label><span class="required">必須項目</span></th>
                            <td>
                                <select class="form-control" name="age">
                                    <option value="">---</option>
                                    <option value="00"<% if (age === '00') { %>selected="selected"<% } %>>0代</option>
                                    <option value="10"<% if (age === '10') { %>selected="selected"<% } %>>10代</option>
                                    <option value="20"<% if (age === '20') { %>selected="selected"<% } %>>20代</option>
                                    <option value="30"<% if (age === '30') { %>selected="selected"<% } %>>30代</option>
                                    <option value="40"<% if (age === '40') { %>selected="selected"<% } %>>40代</option>
                                    <option value="50"<% if (age === '50') { %>selected="selected"<% } %>>50代</option>
                                    <option value="60"<% if (age === '60') { %>selected="selected"<% } %>>60代</option>
                                    <option value="70"<% if (age === '70') { %>selected="selected"<% } %>>70代</option>
                                    <option value="80"<% if (age === '80') { %>selected="selected"<% } %>>80代</option>
                                    <option value="90"<% if (age === '90') { %>selected="selected"<% } %>>90代</option>
                                    <option value="100"<% if (age === '100') { %>selected="selected"<% } %>>100代-</option>
                                </select>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('age')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="id_address"><%- __('Form.FieldName.address') %></label></th>
                            <td>
                                <input type="text" name="address" id="id_address" class="form-control" value="<%- address %>">
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('address')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="id_gender"><%- __('Form.FieldName.gender') %></label></th>
                            <td>
                                <div class="wrapper-payment form-inline">
                                    <label for="radio_gender1" class="form-group payment">
                                        <input type="radio" id="radio_gender1" name="gender" class="form-control" value="1"<% if (gender === '1') { %> checked="checked"<% } %>>男性
                                    </label>
                                    <label for="radio_gender2" class="form-group payment">
                                        <input type="radio" id="radio_gender2" name="gender" class="form-control" value="2"<% if (gender === '2') { %> checked="checked"<% } %>>女性
                                    </label>
                                </div>

                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('gender')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                    <% } %>



                    <% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_STAFF
                        || reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_SPONSOR) { %>
                        <input type="hidden" name="paymentMethod" value="<%- GMOUtil.PAY_TYPE_CREDIT %>">

                    <% } else { %>
                        <tr>
                            <th>お支払い方法<span class="required">必須項目</span></th>
                            <td>
                                <div class="wrapper-payment form-inline">
                                    <% for (let choice of reservationModel.paymentMethodChoices) { %>
                                    <%
                                    let label = '';
                                    switch (choice) {
                                        case GMOUtil.PAY_TYPE_CREDIT:
                                            label = __('Label.PaymentMethodName.CREDIT');
                                            break;
                                        case GMOUtil.PAY_TYPE_CVS:
                                            label = __('Label.PaymentMethodName.CVS');
                                            break;
                                        case GMOUtil.PAY_TYPE_CASH:
                                            label = __('Label.PaymentMethodName.CASH');
                                            break;
                                        defaul:
                                            break;
                                    }
                                    %>
                                    <label for="radio_<%- choice %>" class="form-group payment">
                                        <input type="radio" id="radio_<%- choice %>" name="paymentMethod" class="form-control" value="<%- choice %>"<% if (paymentMethod === choice) { %> checked="checked"<% } %>><%- label %>
                                    </label>
                                    <% } %>
                                </div>

                                <% if (reservationModel.paymentMethodChoices.indexOf(GMOUtil.PAY_TYPE_CVS) >= 0) { %>
                                <p class="notice">
                                    <span class="notice-cvs">
                                        ※コンビニ決済の支払期限は、ご注文完了日を含めて3日間です。<br>
                                        ※コンビニ決済の場合、手数料としてご購入1席につき150円がかかります。<br>
                                        手数料はお支払いいただく料金に含まれます。<br>
                                        ※コンビニ決済が可能なコンビニはファミリーマートのみとなります。
                                    </span>
                                </p>
                                <% } %>

                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('paymentMethod')[0] %></p>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>

                </tbody>

            </table>

        </form>

    </div>

</div>



<script>
$(function(){
    $('.btn-next').on('click', function(){
        $('form').submit();
    });

});
</script>
