<%- include('./_step') %>

<h1 class="pagetitle"><%- __('h1.EnterProfile') %></h1>

<% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_WINDOW) { %>
<p class="guidetext">お支払い方法を選択して次へボタンを押してください。</p>
<% } else { %>
<p class="guidetext">予約する方のお名前(カタカナ)とメールアドレスと電話番号を入力して次へボタンを押してください。</p>
<% } %>

<div class="wrapper-2clm">

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>

    <div class="clm-left" data-token="">

        <form method="post">

            <table class="table table-profile">

                <tbody>

                    <% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_WINDOW) { %>
                        <input type="hidden" name="lastName" value="マドグチ">
                        <input type="hidden" name="firstName" value="タントウシャ">
                        <input type="hidden" name="tel" value="09012345678">
                        <input type="hidden" name="email" value="test@localhost.net">
                        <input type="hidden" name="emailConfirm" value="test">
                        <input type="hidden" name="emailConfirmDomain" value="localhost.net">

                    <% } else { %>
                        <tr>
                            <th>お名前 (カタカナ)<span class="required">必須項目</span></th>
                            <td>
                                <div class="wrapper-names">
                                    <div class="wrapper-nameinput">
                                        <label for="id_lastName"><%- __('Form.FieldName.lastName') %></label>
                                        <input type="text" name="lastName" id="id_lastName" class="form-control" value="<%- lastName %>">
                                    </div>
                                    <div class="wrapper-nameinput">
                                        <label for="id_firstName"><%- __('Form.FieldName.firstName') %></label>
                                        <input type="text" name="firstName" id="id_firstName" class="form-control" value="<%- firstName %>">
                                    </div>
                                </div>
                                <p class="notice">※全角カタカナでご入力ください</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('lastName')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('firstName')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><%- __('Form.FieldName.email') %><span class="required">必須項目</span></th>
                            <td>
                                <input type="text" name="email" id="id_email" class="form-control" value="<%- email %>">
                                <p class="notice">※確認の為に、もう一度入力してください</p>
                                <div class="wrapper-emailconfirm">
                                    <input type="text" name="emailConfirm" id="id_emailConfirm" class="form-control" value="<%- emailConfirm %>">
                                    <span>@</span>
                                    <input type="text" name="emailConfirmDomain" id="id_emailConfirmDomain" class="form-control" value="<%- emailConfirmDomain %>">
                                </div>
                                <p class="notice">※携帯メールでドメイン指定受信を利用している方解除の設定をお願いします</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('email')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('emailConfirm')[0] %></p>
                                <p class="errmsg"><%- req.form.getErrors('emailConfirmDomain')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="id_tel"><%- __('Form.FieldName.tel') %></label><span class="required">必須項目</span></th>
                            <td>
                                <input type="text" name="tel" id="id_tel" class="form-control" value="<%- tel %>">
                                <p class="notice">※半角数字、ハイフン「-」なしで入力して下さい</p>
                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('tel')[0] %></p>
                                <% } %>
                            </td>
                        </tr>

                    <% } %>

                    <% if (reservationModel.purchaserGroup !== ReservationUtil.PURCHASER_GROUP_SPONSOR) { %>
                        <tr>
                            <th>お支払い方法<span class="required">必須項目</span></th>
                            <td>
                                <div class="wrapper-payment form-inline">
                                    <label for="radio_<%- GMOUtil.PAY_TYPE_CREDIT %>" class="form-group payment payment-credit">
                                        <input type="radio" id="radio_<%- GMOUtil.PAY_TYPE_CREDIT %>" name="paymentMethod" class="form-control" value="<%- GMOUtil.PAY_TYPE_CREDIT %>"<% if (paymentMethod === GMOUtil.PAY_TYPE_CREDIT) { %> checked="checked"<% } %>><%- __('Label.PaymentMethodName.CREDIT') %>
                                    </label>

                                    <% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_CUSTOMER) { %>
                                    <label for="radio_<%- GMOUtil.PAY_TYPE_CVS %>" class="form-group payment payment-cvs">
                                        <input type="radio" id="radio_<%- GMOUtil.PAY_TYPE_CVS %>" name="paymentMethod" class="form-control" value="<%- GMOUtil.PAY_TYPE_CVS %>"<% if (paymentMethod === GMOUtil.PAY_TYPE_CVS) { %> checked="checked"<% } %>><%- __('Label.PaymentMethodName.CVS') %>
                                    </label>
                                    <% } %>

                                    <% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_WINDOW) { %>
                                    <label for="radio_<%- GMOUtil.PAY_TYPE_CVS %>" class="form-group payment payment-cash">
                                        <input type="radio" id="radio_<%- GMOUtil.PAY_TYPE_CVS %>" name="paymentMethod" class="form-control" value="<%- GMOUtil.PAY_TYPE_CVS %>"><%- __('Label.PaymentMethodName.CASH') %>
                                    </label>
                                    <% } %>
                                </div>

                                <% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_CUSTOMER) { %>
                                <p class="notice">
                                    <span class="notice-cvs">
                                        ※コンビニ決済の支払期限は、ご注文完了日を含めて3日間です。<br>
                                        ※コンビニ決済の場合、手数料としてご購入1件につき300円がかかります。<br>
                                        手数料はお支払いいただく料金に含まれます。<br>
                                        ※コンビニ決済が可能なコンビニはファミリーマートのみとなります。
                                    </span>
                                </p>
                                <% } %>

                                <% if (req.form) { %>
                                <p class="errmsg"><%- req.form.getErrors('paymentMethod')[0] %></p>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>

                </tbody>

            </table>

        </form>

    </div>

</div>



<script>
$(function(){
    $('.btn-next').on('click', function(){
        $('form').submit();
    });

});
</script>
