<script src="/js/reserve/seats.js"></script>
<input type="hidden" name="seatsLimit" value="<%- limit %>">
<input type="hidden" name="seatsLimitMessage" value="<%- __('Message.seatsLimit{{limit}}', {limit: limit.toString()}) %>">

<%- include('./_step') %>

<h1 class="pagetitle"><%- __('h1.SelectSeats') %></h1>
<p class="guidetext">ご希望の座席を選択して次へボタンを押してください。</p>

<% if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_SPONSOR) { %>
<p class="remainingtickets">取得可能残り:<strong><span class="reservable-count"><%= reservableCount - reservationModel.seatCodes.length %></span>枚</strong></p>
<% } %>

<div class="wrapper-2clm">

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>

    <p class="guidetext visible-mobile-block">
        画面をタッチすると画面がズームしますので<br>
        座席を選択してください
    </p>

    <%
    let url4seatStatusesMap = url('reserve.getUnavailableSeatCodes', {performanceId: reservationModel.performance._id});
    if (reservationModel.purchaserGroup === ReservationUtil.PURCHASER_GROUP_STAFF) {
        url4seatStatusesMap = url('reserve.getSeatProperties', {token: reservationModel.token});
    }
    %>
    <div class="clm-left wrapper-seats seatStatusesMap" data-url="<%- url4seatStatusesMap %>" data-seat-codes="<%= JSON.stringify(reservationModel.seatCodes) %>">

        <% if (req.query.message) { %>
        <div class="alert alert-danger" role="alert">
            <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%- req.query.message %>
        </div>
        <% } %>

        <div class="wrapper-seats-guides">

            <div class="seats-guide">
                <div class="figure">
                    <div><img src="/images/screen/icon-normal.png" alt="Available"></div>
                    <div><strong>空席</strong>クリックで座席を選択します</div>
                </div>
                <div class="figure">
                    <div><img src="/images/screen/icon-selected.png" alt="Selected"></div>
                    <div><strong>選択した席</strong>クリックで選択を解除します</div>
                </div>
                <div class="figure">
                    <div><img src="/images/screen/icon-disabled.png" alt="Disabled"></div>
                    <div><strong>購入済みの席</strong>既に他の方が購入済みの席です</div>
                </div>
            </div>

            <div class="seats-guide seats-guide-special">
                <% if (reservationModel.seatGradeCodesInScreen.indexOf(ScreenUtil.SEAT_GRADE_CODE_PREMIERE_LUXURY) >= 0) { %>
                <div class="figure figure-premierluxury">
                    <div><img src="/images/screen/icon-premierluxury.png" alt="Premier Luxury"></div>
                    <div><strong>プレミアラグジュアリーシート</strong>+&yen;3000</div>
                </div>
                <% } %>

                <% if (reservationModel.seatGradeCodesInScreen.indexOf(ScreenUtil.SEAT_GRADE_CODE_PREMIERE_BOX) >= 0) { %>
                <div class="figure figure-premierbox">
                    <div><img src="/images/screen/icon-premierbox.png" alt="Premier Box"></div>
                    <div><strong>プレミアボックスシート</strong>+&yen;1000</div>
                </div>
                <% } %>

                <% if (reservationModel.seatGradeCodesInScreen.indexOf(ScreenUtil.SEAT_GRADE_CODE_FRONT_RECLINING) >= 0) { %>
                <div class="figure figure-flontreclining">
                    <div><img src="/images/screen/icon-flontreclining.png" alt="Front Reclining"></div>
                    <div><strong>フロントリクライニングシート</strong><br></div>
                </div>
                <% } %>
            </div>

        </div>

        <%- reservationModel.screenHtml %>
        <input type="hidden" name="messageRequiredSeat" value="<%- __('Message.PleaseSelectSeat') %>">
    </div>
</div>
