<%
var routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.name;
}
%>

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%- (metas === null) ? 'ムビチケ' : `${metas.title} | ムビチケ` %></title>
<meta name="description" content="<%- (metas === null) ? '' : metas.description %>">
<meta name="keywords" content="<%- (metas === null) ? '' : metas.keywords %>">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />

</head>

<body>
<div class="wrapper">

<%- include('./layouts/_header') -%>

<%- body %>

<%- include('./layouts/_footer') -%>

</div>
</body>
</html>