<script src="/js/reserve/complete.js"></script>
<script src="/js/common/VanillaQR.js"></script>
<script src="/js/qr/qr.js"></script>

<%- include('./_step', {currentStepName: 'complete'}) %>

<h1 class="pagetitle"><%- __('ReservationCompleted') %></h1>
<p class="guidetext guidetext-customer"><%- __('CompleteReservationGuideText') %></p>
<p class="rednotice qrnotice"><%- __('CompleteReservationNoticeText') %></p>

<%
const performance = reservations[0].reservationFor;
let tourNumber = '';
if (Array.isArray(performance.additionalProperty)) {
    const tourNumberProperty = performance.additionalProperty.find((p)=>p.name==='tourNumber');
    if (tourNumberProperty !== undefined) {
        tourNumber = tourNumberProperty.value;
    }    
}
%>

<table class="table table-complete">
    <tbody>
        <tr class="tr-number">
            <th><%- __('PaymentNo') %></th>
            <td>
                <span class="rsrvno"><%= order.confirmationNumber %></span>
                <p class="numbernotice"><%- __('TransactionNumberNotice') %></p>
            </td>
        </tr>
        <tr class="tr-date">
            <th><%- __('PurchaseContentDate') %></th>
            <td>
                <%- `${moment(reservations[0].reservationFor.startDate).tz('Asia/Tokyo').format('LL')}&nbsp;&nbsp;${moment(reservations[0].reservationFor.startDate).tz('Asia/Tokyo').format('HH:mm')} - ${moment(reservations[0].reservationFor.endDate).tz('Asia/Tokyo').format('HH:mm')} <span class="is-not-ja">(JST)</span>` %>
            </td>
        </tr>
        <tr class="tr-tourno">
            <th><%- __('TourNumber') %></th>
            <td>
                <p>
                    <%- tourNumber %>
                </p>
            </td>
        </tr>
        <tr class="tr-qr">
            <th><%- __('QRCode') %></th>
            <td>
                <% reservations.forEach((reservation, index) => {
                    let qrCode = reservation.id;

                    // 注文コードが発行されていれば、QRコードに情報追加
                    if (typeof code ==='string' && code.length > 0) {
                        qrCode += `@${code}`;
                    }
                %>
                <div class="wrapper-qrcodes">
                    <div>
                        <p>
                            <span class="codeimg-barcode" data-qrcode="<%= qrCode %>"></span>
                        </p>
                        <p>
                            <%- reservation.reservedTicket.ticketType.name[locale] || reservation.reservedTicket.ticketType.name.en %>
                            <%- __('{{price}} yen', { price: reservation.unitPrice } ) %><br>
                            <%- `${__('EmailReserveDate')}: ${moment(reservations[0].reservationFor.startDate).tz('Asia/Tokyo').format('LLL')}` %><br>
                            <%- `${__('TourNumber')}: ${tourNumber}` %><br>
                            <%- reservation.reservedTicket.ticketedSeat.seatNumber %><br>
                        </p>
                    </div>
                </div>
                <% }) %>
            </td>
        </tr>
        <tr class="tr-email">
            <th><%= __('Email') %></th>
            <td>
                <%= order.customer.email %>
            </td>
        </tr>
        <tr class="tr-price">
            <th><%- __('TotalPrice') %></th>
            <td>
                <span class="price"><%- __('{{price}} yen', { price: order.price } ) %></span>
            </td>
        </tr>
    </tbody>
</table>


<a class="btn btn-blue visible-pc" id="btn_print_a4" target="_blank"
    href='<%- process.env.RESERVATIONS_PRINT_URL %>?output=a4&locale=<%- locale %>&orderNumber=<%= order.orderNumber %>&confirmationNumber=<%= order.confirmationNumber %>'><span><%- __('PrintTicket') %></span></a>

<p class="mailnotice"><%- __('CompleteNotesText') %></p>

<div class="enteringguide">
    <h3><%- __('HowToEnter') %></h3>
    <p><%- __('AboutEntryDescription') %></p>
    <a class="btn btn-blue btn-entering" href="/aboutenter"
        target="_blank"><span><%- __('AboutHowToEnter') %></span></a>
</div>