<%
    const tempReservationModel = reservationModel.transactionInProgress;
    const isWheelchair = (tempReservationModel.category === 'wheelchair');
    const tempReservationModel_reservations = tempReservationModel.reservations;
    const ticketCountMax = 10;
    const ticketCountMax_wheelchair = 1;
%>
<script>
    window.ttts.isWheelchair = <%= isWheelchair %>;
</script>

<%- include('./_step', {currentStepName: 'tickets'}) %>

<input type="hidden" name="category" value="<%= tempReservationModel.category %>">

<h1 class="pagetitle"><%- __('SelectTickets') %></h1>
<p class="guidetext"><%- __('SelectTicketsGuideText') %></p>

<% if (message) { %>
<p class="guidetext red"><%= message %></p>
<% } %>

<% if (!isWheelchair) { %>
<p class="guidetext guidetext-wheelchair is-customer red"><%- __('LinkContainedForWCGuide') %></p>
<% } %>

<a class="link-guide" href="/ticketinfo" target="_blank"><%- __('AboutTicket') %></a>

<div class="wrapper-2clm">
    <div class="clm-left" data-token="">
        <table class="table table-tickets">
            <thead>
                <tr>
                    <th><%- __('TicketType') %></th>
                    <th><%- __('TicketCount') %></th>
                </tr>
            </thead>
            <tbody>
                <%
                    // 車椅子予約なので車椅子の券を上位に持ってくる
                    if (isWheelchair) {
                        tempReservationModel.ticketTypes.sort((a, b) => {
                            let ticketTypeCategory4a = '';
                            let ticketTypeCategory4b = '';
                            if (a.category !== undefined && a.category !== null) {
                                ticketTypeCategory4a = a.category.codeValue;
                            }
                            if (b.category !== undefined && b.category !== null) {
                                ticketTypeCategory4b = b.category.codeValue;
                            }

                            if (ticketTypeCategory4b === 'Wheelchair' && ticketTypeCategory4a !== ticketTypeCategory4b) {
                                return 1;
                            } else {
                                return 0;
                            }
                        });
                    }

                    tempReservationModel.ticketTypes.forEach(function(ticketType) {
                        let ticketTypeCategory = '';
                        if (ticketType.category !== undefined && ticketType.category !== null) {
                            ticketTypeCategory = ticketType.category.codeValue;
                        }

                        // 一般予約(general)だったら一般券種以外を弾く
                        if (tempReservationModel.category === 'general' && ticketTypeCategory !== 'Normal') {
                            return true;
                        }
                        const isWheelchairTicket = (ticketTypeCategory === 'Wheelchair');

                        let unitPrice = 0;
                        const priceComponent = ticketType.priceSpecification.priceComponent;
                        if (Array.isArray(priceComponent) && priceComponent.length > 0) {
                            unitPrice = priceComponent[0].price;
                        }
                %>
                <tr data-ticket-code="<%- ticketType.id %>" data-ticket-charge="<%= unitPrice %>">
                    <th>
                        <span><%- ticketType.name[locale] %>
                            <%- __('{{price}} yen', { price: unitPrice } ) %></span>
                    </th>
                    <td>
                        <select id="select_ticketq_<%- ticketType.id %>"
                            class="form-control <%- (isWheelchairTicket) ? 'select-wheelchair' : '' %>">
                            <%  let countMax = (isWheelchairTicket) ? ticketCountMax_wheelchair : ticketCountMax;
                                    for (let ticketCount = 0; ticketCount <= countMax; ticketCount++) {
                                %>
                            <option value="<%- ticketCount.toString() %>" <% if (ticketCount === ticketType.count) { %>
                                selected="selected" <% } %>><%- ticketCount.toString() %></option>
                            <% } %>
                        </select>
                    </td>
                </tr>
                <%
                });
                %>
            </tbody>
            <tfoot class="hidden">
                <tr>
                    <td colspan="2">
                        <%- __('TotalPrice') %> <span class="price"><span
                                id="echo_total"></span><%- __('{{price}} yen') %></span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="clm-right">
        <%- include('./_reservationModel', { tempReservationModel }) %>
    </div>

</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<p class="alert-ticket alert-ticket-overmax">
    <%- __('SeatsLimit{{limit}}', { limit: 10 } ) %>
</p>
<p class="alert-ticket alert-ticket-overmax-wheelchair"><%- __('NoAvailableSeats') %></p>

<script src="/js/reserve/tickets.js"></script>