<%- include('../../common/reserve/_step') %>

<h1 class="pagetitle"><%- __('h1.CompleteTemporaryReservation') %></h1>
<p class="guidetext">
    まだ購入は完了しておりませんので最寄りのファミリーマートよりお支払いください。
</p>

<table class="table table-waitingSettlement">
    <tbody>
        <tr>
            <th>コンビニ決済用ＩＤ</th>
            <td><%- reservationDocuments[0].get('payment_no') %></td>
        </tr>
        <tr>
            <th><%- __('Label.FilmName') %></th>
            <td><%- reservationDocuments[0].get(`film_name_${locale}`) %></td>
        </tr>
        <tr>
            <th><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></th>
            <td>
                <%- reservationDocuments[0].performance_day %> <%- reservationDocuments[0].performance_start_time %> ～ 
                <%- reservationDocuments[0].get(`theater_name_${locale}`) %> 
                <%- reservationDocuments[0].get(`screen_name_${locale}`) %>
            </td>
        </tr>
        <tr>
            <th><%- __('Label.SeatCode') %></th>
            <td>
                <%
                let seatCodes = reservationDocuments.map((reservationDocument) => {return reservationDocument.seat_code;});
                %>
                <%- seatCodes.join('、') %>
            </td>
        </tr>
    </thead>
</table>

<div class="center">
    <a class="btn btn-lg btn-showseat show-seat-position" href="javascript:void(0)" data-screen-id="<%- reservationDocuments[0].screen %>" data-seat-codes="<%- seatCodes.join(',') %>"><span>座席を表示</span></a>
</div>


<div class="center">
    <a class="btn btn-lg btn-next" href="<%= url('tel.reserve.start') %>"><span><%- __('Button.BackToSelectPerformance') %></span></a>
</div>
