<div class="reservationstatus row">
    <h2 class="accordion_mobile_toggle">ご購入内容</h2>
    <div class="reservationstatus-inner accordion_mobile_inner">
        <p class="reservationstatus-image"><img src="<%- reservationModel.performance.film.image %>"></p>
        <p class="reservationstatus-title"><%- reservationModel.performance.film[__('DocumentField.name')] %></p>
        <hr>
        <div class="reservationstatus-info">
            <p class="info-date"><span><%- reservationModel.performance.day %> <%- reservationModel.performance.start_time %> ～</span></p>
            <p class="info-screen"><span><%- reservationModel.performance.theater[__('DocumentField.name')] %> <br><%- reservationModel.performance.screen[__('DocumentField.name')] %>スクリーン2</span></p>
        </div>
        <p class="btn btn-block btn-showseat show-seat-position" data-screen-id="<%- reservationModel.performance.screen._id %>" data-seat-codes="<%- reservationModel.seatCodes.join(',') %>"><span>座席を表示</span></p>
    </div>
</div>
