<h1>購入完了</h1>

<%- include('./_step') %>

<div class="row">

        <dl class="dl-horizontal">
            <dt>予約管理番号</dt>
            <dd><%- reservationResultModel.paymentNo %></dd>

            <dt>作品名</dt>
            <dd><%- reservationResultModel.performance.film.name %></dd>

            <dt>上映時間/場所</dt>
            <dd><%- reservationResultModel.performance.day %> <%- reservationResultModel.performance.start_time %> ～ <%- reservationResultModel.performance.theater.name %> <%- reservationResultModel.performance.screen.name %></dd>

            <dt>座席番号</dt>

            <dd>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <% reservationResultModel.reservations.forEach((reservation, index) => { %>
                            <tr>
                                <td><a class="show-seat" href="javascript:void(0);" data-seat-code="<%- reservation.seat_code %>"><%- reservation.seat_code %></a></td>
                                <td><a class="btn btn-default" href="javascript:void(0)">印刷(未実装)</a></td>
                                <td><a class="btn btn-default" href="javascript:void(0)">メール送信(未実装)</a></td>
                                <td>QR</td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </dd>

        </dl>


    <a class="btn btn-default btn-lg btn-block btn-primary"  href="<%- url('sponsor.mypage', {}) %>">マイページに戻る</a>
</div>


<script>
$(function(){
    $('.show-seat').on('click', function(){
        showSeatMap(<%- JSON.stringify(reservationResultModel.screenSeatCodes) %>, [$(this).attr('data-seat-code')]);
    });
})
</script>
