<%- include('../../common/reserve/_complete') %>

<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="<%= url('sponsor.reserve.start') %>"><span><%- __('Button.BackToSelectPerformance') %></span></a>
    <a class="btn btn-lg btn-next" href="<%= url('sponsor.reserve.start') %>?performance=<%= reservationDocuments[0].performance %>"><span>同じ上映回で追加予約する</span></a>
</div>
