<h1><%- __('h1.CompleteReservation') %></h1>

<%- include('./_step') %>

<div class="row">

    <dl class="dl-horizontal">
        <dt><%- __('Label.PaymentNo') %></dt>
        <dd><%- reservationResultModel.paymentNo %></dd>

        <dt><%- __('Label.FilmName') %></dt>
        <dd>
            <%- reservationResultModel.performance.film[__('DocumentField.name')] %>
        </dd>

        <dt><%- __('Label.PerformanceTime') %>/<%- __('Label.PerformancePlace') %></dt>
        <dd>
            <%- reservationResultModel.performance.day %> <%- reservationResultModel.performance.start_time %> ～ 
            <%- reservationResultModel.performance.theater[__('DocumentField.name')] %> 
            <%- reservationResultModel.performance.screen[__('DocumentField.name')] %>
        </dd>

        <dt><%- __('Label.SeatCode') %></dt>

        <dd>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <% reservationResultModel.reservations.forEach((reservation, index) => { %>
                        <tr>
                            <td><a class="show-seat-position" href="javascript:void(0);" data-screen-id="<%- reservationResultModel.performance.screen._id %>" data-seat-code="<%- reservation.seat_code %>"><%- reservation.seat_code %></a></td>
                            <td><a class="btn btn-default" href="javascript:void(0)"><%- __('Button.Print') %></a></td>
                            <td><a class="btn btn-default send-mail" href="javascript:void(0)" data-reservation-id="<%- reservation._id %>" data-url="/api/<%- req.getLocale() %>/reservation/email"><%- __('Button.SendMail') %></a></td>
                            <td>QR</td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>
            </div>
        </dd>

    </dl>


    <a class="btn btn-default btn-lg btn-block btn-primary"  href="<%- url('sponsor.mypage', {}) %>"><%- __('Button.BackToMyPage') %></a>
</div>



<div class="modal fade transfering" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="id_email"><%- __('Form.FieldName.email') %></label>
                    <input type="text" name="email" id="id_email" class="form-control">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%- __('Button.Cancel') %></button>
                <button type="button" class="btn btn-primary execute-transfer"><%- __('Button.Transfer') %></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center sending"><%- __('Message.Sending') %></div>
                <div class="text-center sent"><%- __('Message.Sent') %></div>
                <div class="text-center unsent"><%- __('Message.Unsent') %></div>
            </div>
        </div>
    </div>
</div>


<script src="/js/reserve/complete.js"></script>
