<script src="/js/reserve/performances.js"></script>

<h1><%- __('h1.SelectPerformance') %></h1>

<%- include('./_step') %>

<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="section">
                <option value=""><%- __('Label.AllSections') %></option>
                <% for (let section of FilmUtil.getSections()) { %>
                <option value="<%- section.code %>"><%- section[__('DocumentField.name')] %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="genre">
                <option value=""><%- __('Label.AllGenres') %></option>
                <% for (let genre of FilmUtil.getGenres()) { %>
                <option value="<%- genre.code %>"><%- genre[__('DocumentField.name')] %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="day">
                <option value=""><%- __('Label.AllDay') %></option>
                <option value="20161022">10/22</option>
                <option value="20161023">10/23</option>
                <option value="20161024">10/24</option>
                <option value="20161025">10/25</option>
                <option value="20161026">10/26</option>
                <option value="20161027">10/27</option>
                <option value="20161028">10/28</option>
                <option value="20161029">10/29</option>
            </select>
        </div>

        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" name="words">
        </div>

        <a class="btn btn-primary search" href="javascript:void(0)"><%- __('Button.Search') %></a>
    </form>
</div>

<div class="row performances">
</div>

<form method="post">
    <input type="hidden" name="performanceId">
</form>

<a class="btn btn-default btn-lg btn-block" href="<%- url('sponsor.mypage', {}) %>"><%- __('Button.Back') %></a>



<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center"><%- __('Message.Searching') %></div>
            </div>
        </div>
    </div>
</div>
