<h1><%- __('h1.EnterProfile') %></h1>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<% if (req.form) { %>
<div class="alert alert-danger" role="alert">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <% Object.keys(req.form.getErrors()).forEach(function (key) { %>
    <%- req.form.getErrors(key)[0] %><br>
    <% }) %>
</div>
<% } %>

<form method="post">
    <div class="form-group">
        <label for="id_lastName"><%- __('Form.FieldName.lastName') %></label>
        <input type="text" name="lastName" id="id_lastName" class="form-control" value="<%- (lastName) ? lastName : '' %>">
    </div>

    <div class="form-group">
        <label for="id_firstName"><%- __('Form.FieldName.firstName') %></label>
        <input type="text" name="firstName" id="id_firstName" class="form-control" value="<%- (firstName) ? firstName : '' %>">
    </div>


    <div class="form-group">
        <label for="id_tel"><%- __('Form.FieldName.tel') %></label>
        <input type="text" name="tel" id="id_tel" class="form-control" value="<%- (tel) ? tel : '' %>">
    </div>

    <div class="form-group">
        <label for="id_email"><%- __('Form.FieldName.email') %></label>
        <input type="text" name="email" id="id_email" class="form-control" value="<%- (email) ? email : '' %>">
    </div>


    <div class="form-group">
        <label for="id_emailConfirm"><%- __('Form.FieldName.emailConfirm') %></label>
        <input type="text" name="emailConfirm" id="id_emailConfirm" class="form-control" value="<%- (emailConfirm) ? emailConfirm : '' %>">
    </div>


    <div class="form-group">
        <label for="id_emailConfirmDomain"><%- __('Form.FieldName.emailConfirmDomain') %></label>
        <input type="text" name="emailConfirmDomain" id="id_emailConfirmDomain" class="form-control" value="<%- (emailConfirmDomain) ? emailConfirmDomain : '' %>">
    </div>

    <a class="btn btn-default btn-lg btn-block" href="<%- url('sponsor.reserve.tickets', {token: req.params.token}) %>"><%- __('Button.Back') %></a>
    <input class="btn btn-primary btn-lg btn-block confirm-reservation" type="submit" value="<%- __('Button.Send') %>">
</form>
