<h1>座席選択</h1>

<% if (req.query.message) { %>
<div class="alert alert-danger" role="alert">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%- req.query.message %>
</div>
<% } %>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<div class="row">
    <div class="row">
    <h3>取得可能枚数残り : <span class="reservable-count"><%- parseInt(sponsorUser.get('max_reservation_count')) - reservationsCount %></span>枚</h3>
    </div>

    <div class="row">
        <dl>
            <dt><dt>
            <dd>空席</dd>
            <dt><dt>
            <dd class="bg-primary">選択した席</dd>
            <dt><dt>
            <dd class="bg-danger">購入済みの席</dd>
        </dl>
    </div>

    <div class="seatsMap">
    </div>

    <a class="btn btn-default btn-lg btn-block" href="<%- url('sponsor.reserve.performances', {token: req.params.token}) %>">戻る</a>
    <a class="btn btn-primary btn-lg btn-block select-seats" href="javascript:void(0);">券種選択</a>
</div>


<script>

function showSeatsMap() {
    $.ajax({
        dataType: 'text',
        url: '<%- url('reserve.showSeatsMap', {token: reservationModel.token}) %>',
        type: 'GET',
        data: {},
        beforeSend: function() {
        },
        complete: function() {
            // 10秒おきに状況とりにいく
            setTimeout(function(){
                showSeatsMap()
            }, 10000);
        },
        success: function(data) {
            $('.seatsMap').html(data);
        },
        error: function(jqxhr, textStatus, error) {
        }
    });
}

$(function(){
    // 座席マップを表示
    showSeatsMap();

    $(document).on('click', '.select-seat', function(){
        var count = parseInt($('.reservable-count').text());

        if ($(this).hasClass('bg-primary')) {
            $('.reservable-count').text(count + 1);
        } else {
            $('.reservable-count').text(count - 1);
        }

        $(this).toggleClass('bg-primary');
    });

    $(document).on('click', '.select-seats', function(){
        var reservationIds = [];

        // 座席コードリストを取得
        $('.select-seat.bg-primary').each(function(index){
            reservationIds.push($(this).attr('data-reservation-id'));
        });

        if (reservationIds.length < 1) {
            alert('座席を選択してください');
        } else {
            $('form input[name="reservationIds"]').val(JSON.stringify(reservationIds));
            $('form').submit();
        }
    });
});
</script>

<form method="post">
<%- form.toHTML() %>
</form>

