<h1><%- __('h1.SelectTickets') %></h1>

<%- include('./_reservationModel') %>

<%- include('./_step') %>

<div class="row">
    <div class="table-responsive tickets">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><%- __('Label.SeatCode') %></th>
                    <th><%- __('Label.TicketType') %></th>
                </tr>
            </thead>

            <tbody>
                <% for (let reservationId of reservationModel.reservationIds) { %>
                <% let reservation = reservationModel.getReservation(reservationId) %>
                <tr data-seat-code="<%- reservation.seat_code %>" data-reservation-id="<%- reservationId %>">
                    <td><%- reservation.seat_code %></td>
                    <td>
                        <select class="form-control<%- (reservationModel.ticketTypes.length === 1) ? ' hidden' : '' %>">
                        <% reservationModel.ticketTypes.forEach(function(ticketType, index) { %>
                        <option value="<%- ticketType.code %>"
                            <% if (reservation.hasOwnProperty('ticket_type_code')) { %>
                            <% if (reservation.ticket_type_code == ticketType.code) { %> selected="selected"<% } %>
                            <% } %>
                        >
                            <%- ticketType[__('DocumentField.name')] %> <%- __('{{price}} yen', {price: ticketType.charge}) %>
                        </option>
                        <% }) %>
                        </select>

                        <%- (reservationModel.ticketTypes.length === 1) ? `${reservationModel.ticketTypes[0][__('DocumentField.name')]} ${__('{{price}} yen', {price: reservationModel.ticketTypes[0].charge})}` : '' %>
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
    </div>

    <a class="btn btn-default btn-lg btn-block" href="<%- url('sponsor.reserve.seats', {token: req.params.token}) %>"><%- __('Button.Back') %></a>
    <a class="btn btn-primary btn-lg btn-block select-tickets" href="javascript:void(0);"><%- __('Button.Next') %></a>
</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<script>
$(function(){
    $('.select-tickets').on('click', function(){
        // 座席コードリストを取得
        var choices = [];
        $('.tickets tbody tr').each(function(index){
            choices.push({
                reservation_id: $(this).attr('data-reservation-id'),
                ticket_type_code: $('option:selected', this).val()
            });
        });

        $('form input[name="choices"]').val(JSON.stringify(choices));
        $('form').submit();
    });

});
</script>
