<%- include('./_step') %>

<h1 class="pagetitle"><%- __('h1.SelectTickets') %></h1>
<p class="guidetext"><%- __('Label.SelectTicketsGuideText') %></p>

<div class="wrapper-2clm">
    <div class="clm-left" data-token="">
        <table class="table table-tickets">
            <thead>
                <tr>
                    <th style="width:auto;"><%- __('Label.TicketType') %></th>
                    <th style="width:110px;"><%- __('Label.TicketCount') %></th>
                </tr>
            </thead>
            <tbody>
                <% reservationModel.ticketTypes.forEach(function(ticketType) { %>
                <tr data-seat-code="<%- ticketType._id %>" data-seat-extra-charge="<%= ticketType.charge %>">
                    <th style="text-align:left;"><span><%- ticketType.name.ja %> \<%= ticketType.charge %></span></th>
                    <td>
                        <select class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
                <% }); %>
            </tbody>

            <tfoot class="hidden">
                <tr><td colspan="2">
                    <%- __('Label.TotalCharge') %><span class="price"></span>
                </td></tr>
            </tfoot>

        </table>

    </div>

    <div class="clm-right">
        <%- include('./_reservationModel') %>
    </div>

</div>

<form method="post">
    <input type="hidden" name="choices">
</form>

<script src="/js/reserve/tickets.js"></script>
