<h1>座席予約キャンセル</h1>

<div class="row">

        <dl class="dl-horizontal">
            <dt>予約番号</dt>
            <dd><%- reservationDocuments[0].get('payment_no') %></dd>

            <dt>作品名</dt>
            <dd><%- reservationDocuments[0].get('film').get('name') %></dd>

            <dt>上映時間/場所</dt>
            <dd><%- reservationDocuments[0].get('performance').get('day') %> <%- reservationDocuments[0].get('performance').get('start_time') %> ～ <%- reservationDocuments[0].get('theater').get('name') %> <%- reservationDocuments[0].get('screen').get('name') %></dd>

            <dt>座席番号</dt>

            <dd>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <% for (let resevationDocument of reservationDocuments) { %>
                            <tr>
                                <td><a class="show-seat-position" href="javascript:void(0);" data-seat-code="<%- resevationDocument.get('seat_code') %>"><%- resevationDocument.get('seat_code') %></a></td>
                                <td><a class="btn btn-primary confirm-cancel" href="javascript:void(0)" data-seat-code="<%- resevationDocument.get('seat_code') %>" data-reservation-id="<%- resevationDocument.get('id') %>">キャンセル</a></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </dd>

        </dl>


    <a class="btn btn-default btn-lg btn-block"  href="#">戻る(どこに戻る？)</a>
</div>

<div class="modal fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
                <button type="button" class="btn btn-primary execute-cancel">はい</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                予約のキャンセルが完了しました
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    var reservationId;
    $('.confirm-cancel').on('click', function(){
        reservationId = $(this).attr('data-reservation-id');

        $('.cancel-reservation-confirm .modal-body').html(`席「${$(this).attr('data-seat-code')}」の予約をキャンセルします`);
        $('.cancel-reservation-confirm').modal();
    });

    $('.execute-cancel').on('click', function(){
        var self = this;

        $.ajax({
            dataType: 'json',
            url: '<%- url('sponsor.cancel.execute', {}) %>',
            type: 'POST',
            data: {
                reservation_id: reservationId,
                token: '<%- reservationCancelModel.token %>',
            },
            beforeSend: function() {
                $('.cancel-reservation-confirm').modal('hide');
            },
            complete: function() {
            },
            success: function(data) {
                console.log(data);
                if (data.isSuccess) {
                    $(`.confirm-cancel[data-reservation-id="${reservationId}"]`).parent().parent().remove();
                    $('.cancel-reservation-complete').modal();
                } else {
                    alert('キャンセルできませんでした');
                }
            },
            error: function(jqxhr, textStatus, error) {
            }
        });
    });
})
</script>
