<p class="guidetext">
GMO決済へ遷移します...
</p>

<form action="<%- conf.get('gmo_payment_api_link_multi_entry') %>" method="post">
    <input type="hidden" name="ShopID" value="<%- shopId %>"><br>
    <input type="hidden" name="OrderID" value="<%- orderID %>"><br>
    <input type="hidden" name="Amount" value="<%- amount %>"><br>
    <input type="hidden" name="DateTime" value="<%- dateTime %>"><br>
    <input type="hidden" name="ShopPassString" value="<%- shopPassString %>"><br>
    <input type="hidden" name="RetURL" value="<%- 'https://' + req.headers.host + url('gmo.reserve.result') %>"><br>
    <!-- 決済キャンセル時に遷移する加盟店URL -->
    <input type="hidden" name="CancelURL" value="<%- 'https://' + req.headers.host + url('gmo.reserve.cancel', {paymentNo: orderID}) %>"><br>
    <!-- カード決済画面を表示してから決済を行うまでの経過時間の上限で、設定単位は秒 -->
    <input type="hidden" name="SessionTimeout" value="300"><br>
    <input type="hidden" name="Lang" value="<%- locale %>"><br>

    <input type="hidden" name="UseCredit" value="<%- useCredit %>"><br>
    <input type="hidden" name="UseCvs" value="<%- useCvs %>"><br>

    <input type="hidden" name="JobCd" value="CAPTURE"><br>
    <!--<input type="hidden" name="SiteID" value="<%- conf.get('gmo_payment_site_id') %>"><br>-->

    <!-- 購入番号 -->
    <input type="hidden" name="ReserveNo" value="<%- orderID %>"><br>

    <!--
    レジ・ATM に表示される内容です。設定可能な文字は「全角文字」となります。
    -->
    <!-- レジ・ATM 表示欄1 -->
    <input type="hidden" name="RegisterDisp1" value="レジ表示欄１レジ表示欄１"><br>
    <!-- レジ・ATM 表示欄2 -->
    <input type="hidden" name="RegisterDisp2" value="レジ表示欄２レジ表示欄２"><br>
    <!-- レジ・ATM 表示欄3 -->
    <input type="hidden" name="RegisterDisp3" value="レジ表示欄３レジ表示欄３"><br>
    <!-- レジ・ATM 表示欄4 -->
    <input type="hidden" name="RegisterDisp4" value="レジ表示欄４レジ表示欄４"><br>
    <!-- レジ・ATM 表示欄5 -->
    <input type="hidden" name="RegisterDisp5" value="レジ表示欄５レジ表示欄５"><br>
    <!-- レジ・ATM 表示欄6 -->
    <input type="hidden" name="RegisterDisp6" value="レジ表示欄６レジ表示欄６"><br>
    <!-- レジ・ATM 表示欄7 -->
    <input type="hidden" name="RegisterDisp7" value="レジ表示欄７レジ表示欄７"><br>
    <!-- レジ・ATM 表示欄8 -->
    <input type="hidden" name="RegisterDisp8" value="レジ表示欄８レジ表示欄８"><br>

    <!--
    レシート・利用明細に表示される内容です。設定可能な文字は「全角文字」となります。
    -->
    <!-- レシート・利用明細表示欄1 -->
    <input type="hidden" name="ReceiptsDisp1" value="レシート利用明細表示欄１レシート利用明細表示欄１"><br>
    <!-- レシート・利用明細表示欄3 -->
    <input type="hidden" name="ReceiptsDisp2" value="レシート利用明細表示欄２レシート利用明細表示欄２"><br>
    <!-- レシート・利用明細表示欄3 -->
    <input type="hidden" name="ReceiptsDisp3" value="レシート利用明細表示欄３レシート利用明細表示欄３"><br>
    <!-- レシート・利用明細表示欄4 -->
    <input type="hidden" name="ReceiptsDisp4" value="レシート利用明細表示欄４レシート利用明細表示欄４"><br>
    <!-- レシート・利用明細表示欄5 -->
    <input type="hidden" name="ReceiptsDisp5" value="レシート利用明細表示欄５レシート利用明細表示欄５"><br>
    <!-- レシート・利用明細表示欄6 -->
    <input type="hidden" name="ReceiptsDisp6" value="レシート利用明細表示欄６レシート利用明細表示欄６"><br>
    <!-- レシート・利用明細表示欄7 -->
    <input type="hidden" name="ReceiptsDisp7" value="レシート利用明細表示欄７レシート利用明細表示欄７"><br>
    <!-- レシート・利用明細表示欄8 -->
    <input type="hidden" name="ReceiptsDisp8" value="レシート利用明細表示欄８レシート利用明細表示欄８"><br>
    <!-- レシート・利用明細表示欄9 -->
    <input type="hidden" name="ReceiptsDisp9" value="レシート利用明細表示欄９レシート利用明細表示欄９"><br>
    <!-- レシート・利用明細表示欄10 -->
    <input type="hidden" name="ReceiptsDisp10" value="レシート利用明細表示欄１０レシート利用明細表示欄１０"><br>

    <!-- お問合せ先 -->
    <input type="hidden" name="ReceiptsDisp11" value="お問合せ先"><br>
    <!-- お問合せ先電話番号 -->
    <input type="hidden" name="ReceiptsDisp12" value="03-1234-5678"><br>
    <!-- お問合せ先受付時間 -->
    <input type="hidden" name="ReceiptsDisp13" value="09:00-18:00"><br>
</form>

<script>
$(function(){
    document.forms[0].submit();
});
</script>
