<h1 class="pagetitle"><%- __('h1.AdmissionConfirm') %></h1>

<div class="performancedata row">
    <h2><%- performance.get('film').get('name')[locale] %></h2>
    <span class="when"><%- performance.get(`start_str_${locale}`) %></span>
    <span class="where"><%- performance.get(`location_str_${locale}`) %></span>
</div>

<p class="text-primary text-center process row"><%- __('Message.PleaseReadBarcode') %></p>

<div class="result">

</div>

<div class="results">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script src="/js/admission/confirm.js"></script>

<input type="hidden" name="apiEndpoint" value="<%= process.env.API_ENDPOINT %>">
<input type="hidden" name="reservationsById" value="<%= JSON.stringify(reservationsById) %>">
<input type="hidden" name="reservationIdsByQrStr" value="<%= JSON.stringify(reservationIdsByQrStr) %>">
<input type="hidden" name="messageSearching" value="<%- __('Message.Searching') %>">
<input type="hidden" name="messagePleaseReadBarcode" value="<%- __('Message.PleaseReadBarcode') %>">
