<div class="table-responsive">
    <table class="table table-bordered">

        <tbody>
            <tr>
            <% let seats = reservationModel.performance.screen.sections[0].seats %>
            <% seats.forEach((seat, index) => { %>
                <% let seatCode = seat.code %>
                <% if (index % 12 === 0) { %>
                </tr>
                <tr>
                <% } %>

                <%
                // 予約が存在した場合のみ販売可能
                if (reservationDocumentsBySeatCode.hasOwnProperty(seatCode)) {
                %>
                    <!-- 販売中 -->

                    <% let reservationDocument = reservationDocumentsBySeatCode[seatCode] %>
                    <% if (reservationDocument.get('status') === 'AVAILABLE') { %>
                        <!-- 予約可能 -->
                        <th scope="row" class="select-seat" data-seat-code="<%- seatCode %>" data-reservation-id="<%- reservationDocument.get('_id') %>">
                            <%- seatCode %>
                        </th>

                    <% } else { %>
                        <% if (reservationModel.getSeatCodes().indexOf(seatCode) >= 0) { %>
                            <!-- 仮押さえ中 -->
                            <th scope="row" class="select-seat bg-primary" data-seat-code="<%- seatCode %>" data-reservation-id="<%- reservationDocument.get('_id') %>">
                                <%- seatCode %>
                            </th>
                        <% } else { %>

                            <!-- 予約不可 -->

                            <% if (reservationModel.staff) { %>
                            <th scope="row" class="bg-danger" data-reservation-id="<%- reservationDocument.get('_id') %>">
                                <a tabindex="0" class="popover-reservation"
                                    data-seat-code="<%- seatCode %>"
                                    data-toggle="popover"
                                    data-trigger="focus"><%- seatCode %></a>
                            </th>

                            <% } else { %>
                            <th scope="row" class="bg-danger" data-reservation-id="<%- reservationDocument.get('_id') %>">
                                <%- seatCode %>
                            </th>

                            <% } %>


                        <% } %>

                    <% } %>

                <% } else { %>
                    <!-- 未販売 -->
                    <th scope="row" class="bg-warning text-muted">
                        <%- seatCode %>
                    </th>

                <% } %>

            <% }) %>
            </tr>
        </tbody>

    </table>
</div>


<script>
var reservationDocumentsBySeatCode = <%- JSON.stringify(reservationDocumentsBySeatCode) %>
$(function(){
    // 予約の吹き出し
    $('.popover-reservation').popover({
        placement: 'top',
        html: true,
        content: function(){
            var seatCode = $(this).attr('data-seat-code');
            var reservation = reservationDocumentsBySeatCode[seatCode];

            if (reservation.status == 'RESERVED') {
                if (reservation.staff) {
                    return `
${reservation.staff_department_name}<br>
${reservation.staff_name}
                    `;
                } else if (reservation.sponsor) {
                    return '外部関係者';
                } else if (reservation.member) {
                    return 'メルマガ当選者';
                } else {
                    return '一般';
                }

            } else if (reservation.status == 'TEMPORARY') {
                return '仮予約中';

            }
        }
    });
});
</script>
